{% extends "base.html" %}

{% block title %}
Change Password
{% endblock %}


{% block content_title %}
Change Password
{% endblock %}


{% block content %}

{% if form.errors %}

      <ol>
    {% for error in form.errors %}
        <li>Please fill the field correctly <strong>{{ error|escape }}</strong></li>
    {% endfor %}
    </ol>
{% endif %}



<div class=" col-md-6" >

<form method="post" action="" class="form-group">
{% csrf_token %}






    <label for="id_old_password" class="mt-3" >Old password:</label>

    <input type="password" name="old_password" autocomplete="current-password" autofocus="" required="" id="id_old_password" class="form-control">

    
    <label for="id_new_password1" class="mt-4">New password:</label>
    <span class="helptext">
        <ul>
            <li>Your password must contain at least 8 characters.</li><li>And your password can’t be entirely numeric.</li>
        </ul>
    </span>
    <input type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1" class="form-control"><br>


    <label for="id_new_password2" class="mt-4">New password confirmation:</label>

    <input type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2" class="form-control">
    



<button type="submit" class="btn btn-primary mt-4">Change password</button>
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Lost password?</a></p>


</div>

{% endblock %}




































