

<table class="table table-striped">
    <thead>
        <tr>
        <th scope="col">Auctions</th>
        <th scope="col">Photo</th>
        <th scope="col">start price</th>
        <th scope="col">end price</th>
        <th scope="col">Seller contacts</th>
        </tr>
    </thead>
    <tbody>

            
        {% for prices_info in user_auctions_short_from_prices %}
            

            <tr>
                <th scope="row">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                        <p class="nav-p active" >{{prices_info.auction.title}}</p>
                        </li>
                        <li class="nav-item">
                        <p class="nav-p active" >{{prices_infoauction.id}}</p>
                        </li>
                        <li class="nav-item">
                        <p class="nav-p active" >{{prices_infoauction.start_auction}}</p>
                        </li>
                    </ul>
                </th>
                <td> <img class="table_img" src="{{ MEDIA_URL }}{{prices_info.auction.main_img}}" alt=""> </td>
                <td>{{prices_infoauction.auction.start_price}}</td>
                
                <td>{{prices_info.new_price}}</td>
                             
                <td>
                <ul class="nav flex-column">
                    <li class="nav-item">
                    <p class="nav-p active" >Name: {{prices_info.auction.seller.username}}</p>
                    </li>
                    <li class="nav-item">
                    <p class="nav-p active" >Email: {{prices_info.auction.seller.email}}</p>
                    </li>
                </ul>
                </td>            
            </tr>

        </div>
    </div>

    {% endfor %}
    </tbody>
</table>
















                    
                