
body{
    font-size: 16px !important;
}

a{
    font-size: 16px !important;

}


.owl-prev span{
    padding: 4px 20px;
    border: 1px solid;
    border-radius: 3px;
}
.owl-next span{
    padding: 4px 20px;
    border: 1px solid;
    border-radius: 3px;
}

#pop_up{
    display: none;
    position: fixed;
    overflow: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
}


.show{
    display:block !important;
}

.img_on_popup {
    height: 100%;
    margin: 0 auto;
    padding: 45px 0;
    display: block;
    max-height: 70%;
    position: relative;
    z-index: 11;
}



#close_popup {
    position: fixed;
    right: 5%;
    color: #fff;
    top: 5%;
    cursor: pointer;
}


.table_img {
    width: 100px;
}

.item {
    cursor: pointer;
}

#bg_on_popup {
    position: fixed;
    overflow: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 10;
}



.errorlist {
    display: inline-block;
    list-style: none;
    margin: 6px auto;
}

.get_notif{
    position: absolute;
    
    bottom: 5%;
}


.noti-icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
}


.field_start_auction{
    display:none;
}

.show_start_auction{
    display:block !important;
}


.field_shoise_time{
    display:none;
}

.inline{
    display: inline !important;
}

#not_auth{
    display: none;
}

.deactive{
    background: #fef !important;
}


.get_notif{
    border: none;
    background: none;
}


.form-control.form-control-sm.mr-2 {
    width: 100px;
}

.ml-10 {
    margin-left: 10rem !important;
  }


  .mr-10 {
    margin-right: 10rem !important;
  }


  .c-bg-dark{
      background: #0E0C22;
  }

  .c-color-light{
      color: #727586;
  }

  .c-btn{
    padding: .00rem .5rem;
    line-height: 1.5;
    border-radius: .2rem;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;


  }

.dropdown-item{
    color: #727586 !important;
}

.non_border{
    border: none;
}



.dropdown-menu.show {
    min-width: 100px;
}


.full_slider{
    position: relative;
}


.div_main_page {
    position: absolute;
    top: 50%;
    left: 15%;
    color: #fff;
}


.div_main_page h2 {
    font-size: 64px;
}

.div_main_page p {
    font-size: 16px;
line-height: 24px;
}


.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1392px !important;
}


.container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.auction_title{
    font-size: 36px !important;
}

.auction_id{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.auction_desc, .auction_start_price_pre, .price_block p, .time_desc{
    font-size: 16px;
    line-height: 24px;
}

.auction_start_price{
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;

}

.input_bid{
    border: none;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: textfield;
}


.btn_custom{
    margin-left: -1px;
    cursor: pointer;
    display: inline-block;
font-weight: 400;
color: #727586;
text-align: center;
-webkit-appearance: button;
overflow: visible;
border-color: #727586 !important;
border-top-left-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
width: 40px;

}

.pad-btn{
    margin: 15px 0 0 20px;
    padding: .4rem 2rem;
    color: #fff;
}

.pad-bid{
    margin: 15px 0 0 0px;

}

.current_price_num{
    color: #BF9D64;
    font-weight: 600;
    font-size: 30px;
    line-height: 48px;
}

.disabled{
    background: #8c8c8c;
}

.timer_div{
    font-size: 50px;
    min-height: 50px;
}

.all_time_div {
    margin: 100% 0;
}


.time_desc{
    box-sizing: inherit;
}

.all_time_desc{
    margin: -50px 0 0 0;
}

.all_time_span{
    min-height: 50px;
}


.img_div.relative {
    overflow: hidden;
    position: relative;
}




