{% load static i18n %}

<!DOCTYPE html>
<html>
<head>
	<title>

		{% block title %}

		{% endblock %} | Auction app

	</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>


	<link rel="stylesheet" href="{% static 'style/style.css'%} ">

	<link rel="stylesheet" href="{% static 'style/owlcarousel/owl.carousel.min.css'%} ">
	<link rel="stylesheet" href="{% static 'style/owlcarousel/owl.carousel.css'%} ">


	<link rel="stylesheet" href="{% static 'style/owlcarousel/owl.theme.default.min.css'%} ">
	<link rel="stylesheet" href="{% static 'style/owlcarousel/owl.theme.default.css'%} ">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<script src="{% static 'js/owlcarousel/jquery.min.js' %}"></script>
	<script src="{% static 'js/owlcarousel/owl.carousel.min.js' %}"></script>
</head>
<body>
	
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
		<a class="navbar-brand" href="{% url 'index' %}">Auctions</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarTogglerDemo02">

		<ul class="navbar-nav  mt-2 mt-lg-0 mr-auto">
			{% if user.is_authenticated %}
				{% for i in groups_user_sellers %}

					{% if i.id == user.id%}
					
						<li class="nav-item">
							<a class="nav-link" href="{% url 'create_auction' %}">Create Auction<span class="sr-only">(current)</span></a>
						</li>

					
					{% endif %}
				{% endfor %}
			{% endif %}

			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					{% if user.is_authenticated %} {{ user.username }} {% else %} Sign in {% endif %}
				</a>


				<div class="dropdown-menu" aria-labelledby="navbarDropdown">


				{% if user.is_authenticated %}

					<a class="dropdown-item" href="{% url 'account_page' %}">Account</a>

					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="{% url 'logout' %}">LogOut</a>
				{% else %}

					<a class="dropdown-item" href="{% url 'login' %}">LogIn</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="{% url 'register_page' %}">Registration</a>
				{% endif %}




				</div>
			</li>

			</ul>









					




			<form class="form-inline" action="{% url 'set_language' %}" method="post">
				{% csrf_token %}

				<input name="next" type="hidden" value="{{ redirect_to }}">
				<select class="form-control form-control-sm mr-2" name="language" id="">

					{% get_current_language as LANGUAGE_CODE %}

					{% get_available_languages as LANGUAGES %}
					{% get_language_info_list for LANGUAGES as languages %}
					{% for language in languages %}

					<option class="dropdown-item" value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>

							{{language.name_local}} ({{language.code}})
						</option>

					{% endfor %}

				</select>
				<button type="submit" class="btn btn-primary btn-sm">{% trans 'Change' %}</button>
			</form>














		</div>
	</nav>


<div class="container">
	<div class="row">
		<h1>

		{% block content_title %}

		{% endblock %}

		</h1>

	</div>

	<div>
		{% block content %}

		{% endblock %}
	</div>
</div>


<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script src="{% static 'js/auction.js' %}" ></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>



<script src="{% static 'js//pop_up.js' %}"></script>

</body>
</html>