{% load static i18n %}
{% get_current_language_bidi as LANGUAGE_BIDI %}













<!DOCTYPE html>
{% if LANGUAGE_BIDI %}
<html dir="rtl">
{% else %}
<html dir="ltr">
{% endif %}

<head>
	<title>

		{% block title %}

		{% endblock %} | Auction app

	</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>


	<link rel="stylesheet" href="{% static 'style/style.css'%} ">

	<link rel="stylesheet" href="{% static 'style/owlcarousel/owl.carousel.min.css'%} ">
	<link rel="stylesheet" href="{% static 'style/owlcarousel/owl.carousel.css'%} ">


	<link rel="stylesheet" href="{% static 'style/owlcarousel/owl.theme.default.min.css'%} ">
	<link rel="stylesheet" href="{% static 'style/owlcarousel/owl.theme.default.css'%} ">






	{% if LANGUAGE_BIDI %}

	<link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.2.1/css/bootstrap.min.css" integrity="sha384-vus3nQHTD+5mpDiZ4rkEPlnkcyTP+49BhJ4wJeJunw06ZAp+wzzeBPUXr42fi8If" crossorigin="anonymous">

	{% else %}

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	{% endif %}







	<script src="{% static 'js/owlcarousel/jquery.min.js' %}"></script>
	<script src="{% static 'js/owlcarousel/owl.carousel.min.js' %}"></script>
</head>
<body>
	































	<nav class="navbar navbar-expand-lg navbar-light bg-light ">
		<a class="navbar-brand" href="{% url 'index' %}">Auctions</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarTogglerDemo02">



			<ul class="navbar-nav  mt-lg-0  
			{% if LANGUAGE_BIDI %}
			ml-10
			{% else %}
			mr-10
			{% endif %}">


				{% get_current_language as LANGUAGE_CODE %}
	
				{% get_available_languages as LANGUAGES %}
				{% get_language_info_list for LANGUAGES as languages %}
	
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					  {{LANGUAGE_CODE}}
					  
					</a>
					<div class="dropdown-menu"   
					 aria-labelledby="navbarDropdown">
	
	
	
	
	
	
						{% for language in languages %}
	
	
	
						<form class="form-inline" action="{% url 'set_language' %}" method="post">
							{% csrf_token %}
			
							<input name="next" type="hidden" value="{{ redirect_to }}">
			
	
							<select class="form-control form-control-sm mr-2" name="language" id="" hidden>		
								<option class="dropdown-item" value="{{ language.code }}" >
									
								</option>	
							</select>	
							<button type="submit" class="non_border dropdown-item">{{language.name_local}}</button>
								
			
			
							
						</form>
			
						
	
						{% endfor %}
					</div>
				  </li>
	
	
	
	
	
		
	
	
	
	
	
	
	<!-- 
	
	
				<form class="form-inline" action="{% url 'set_language' %}" method="post">
					{% csrf_token %}
	
					<input name="next" type="hidden" value="{{ redirect_to }}">
					<select class="form-control form-control-sm mr-2" name="language" id="">
	
						{% get_current_language as LANGUAGE_CODE %}
	
						{% get_available_languages as LANGUAGES %}
						{% get_language_info_list for LANGUAGES as languages %}
	
						{% for language in languages %}
	
							<option class="dropdown-item" value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
								{{language.name_local}} ({{language.code}})
							</option>
	
						{% endfor %}
	
					</select>
					<button type="submit" class="btn btn-primary btn-sm">{% trans 'Change' %}</button>
				</form> -->
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
			</ul>




















		<ul class="navbar-nav mr-auto mt-lg-0 ">

			<li class="nav-item mr-3">
				
				<a class="nav-link" href="{% url 'create_auction' %}">Company</a>
			</li>



			<li class="nav-item mr-3">
				
				<a class="nav-link" href="{% url 'create_auction' %}">FAQ</a>
			</li>


			<li class="nav-item mr-3">
				
				<a class="nav-link" href="{% url 'create_auction' %}">Contact us</a>
			</li>


		</ul>















		
		<ul class="navbar-nav mt-lg-0">
			{% if user.is_authenticated %}
				{% for i in groups_user_sellers %}

					{% if i.id == user.id%}
					
						<li class="nav-item mr-5  c-bg-dark c-btn  ">
							<a class="nav-link text-light" href="{% url 'create_auction' %}">Create Auction<span class="sr-only">(current)</span></a>
						</li>

					
					{% endif %}
				{% endfor %}
			{% endif %}

			<li class="nav-item dropdown ">
				<a class="nav-link dropdown-toggle c-color-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					{% if user.is_authenticated %} {{ user.username }} {% else %} Sign in {% endif %}
				</a>


				<div class="dropdown-menu " {% if LANGUAGE_BIDI %}
				style="left: 0px;"
				{% else %}
				style="left: -30px;"
				{% endif %} aria-labelledby="navbarDropdown">

				
				{% if user.is_authenticated  %}
					{% if true_admin == 0  %}

						<a class="dropdown-item" href="{% url 'account_page' %}">Account</a>

						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="{% url 'logout' %}">LogOut</a>
					{% elif true_admin == 1 %}


						<a class="dropdown-item" href="{% url 'reports_page' %}">Reports</a>

						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="{% url 'logout' %}">LogOut</a>

					{% endif %}

				{% else %}

						<a class="dropdown-item" href="{% url 'login' %}">LogIn</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="{% url 'register_page' %}">Registration</a>

				{% endif %}




				</div>
			</li>




		</ul>
















		</div>
	</nav>

































































	<div class="container-fluid">
		<div>
			{% block slider %}

			{% endblock %}
		</div>
	</div>

<div class="container-xl">
	<div class="row">
		<h1>

		{% block content_title %}

		{% endblock %}

		</h1>

	</div>

	<div>
		{% block content %}

		{% endblock %}
	</div>
</div>




















<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>



<script src="{% static 'js/auction.js' %}" ></script>
<script src="{% static 'js//pop_up.js' %}"></script>
<script src="{% static 'js//main.js' %}"></script>

</body>
</html>