{% extends 'base.html' %}
{% load i18n %}





{% block slider %}

{% endblock %}


{% block content_title %}
{% trans 'Contact us' %}
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-lg-9 col-md-12 col-sm-12 mx-auto">
        <p class="lead">By accessing the website, you are agreeing to be bound by these terms of service, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this website are protected by applicable copyright and trademark<sup>1</sup>
        with any applicable local laws. If you do not agree with any of these terms, you are prohibited<sup>2</sup>
        from using or accessing this site. The materials contained in this website are protected by applicable copyright and trademark law. 
        </p>
        <p class="lead mb-7">Use Replacer as a <a href="#">starting point</a> in your next project or choose predesigned elements to customize and shape it at your own will </p>
    </div>
</div>

{% endblock %}













































































