{% extends 'base.html' %}
{% load i18n %}



{% block title %}
    index
{% endblock %}



{% block slider %}




<div dir="ltr" id="owl-carousel" class="owl-carousel owl-theme mb-5">

  <div class="item full_slider" onclick="imgSliderEvent(event)"> 
    
    <div class="div_main_page">
      <div class="header_to_slide"> {% trans "The portal is your gate to the auction arena" %} 
        <span class="he_word2">_ </span> </span> <span class="he_word"> 10Bid</span>
      </div>
    </div>
    
    <img class="slider_img" src="/media/file/slider1.png" alt="">  </div>

  <div class="item" onclick="imgSliderEvent(event)"> <img class="slider_img" src="/media/file/slider1.png" alt="">  </div>

  <div class="item" onclick="imgSliderEvent(event)"> <img class="slider_img" src="/media/file/slider1.png" alt="">  </div>



</div>

<script>
$('.owl-carousel').owlCarousel({
  dots: false,
  nav:false,
  dots:true,
  items:1,
})


</script>






{% endblock %}










{% block content_title %}
{% trans "Current auction" %}

{% endblock %}




{% block content %}

<div id="get_notif" >

</div>



<!-- Get Notification modal -->
<div class="modal fade" id="get_notification" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">{% trans 'Notify me' %}</h5>
        <button type="button" class="close" id="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% trans 'Subscribe to notifications about the begining of this auction' %}
      </div>
      <div class="modal-footer">






        <form class="form-group" method="POST" data-url="{% url 'index' %}" name="notif_form">
          {% csrf_token %}
          <select name="auction" required="" id="id_auction" hidden>
            <option id="" value="{{i.id}}"></option>
          </select>
        
          <select name="subscriber" required="" id="id_subscriber" hidden>
            <option value="{{user.id}}"></option>
          </select>
          
        
          <button type="button" id="btn_notif" class="pad-btn2 c-bg-dark c-btn" >{% trans 'Subscribe' %}</button>
        
        </form>




      </div>
    </div>
  </div>
</div>

























  <!-- Notification about bid -->


{% if LANGUAGE_BIDI %}
<div style="position: fixed; top: 18%; left: 3%; overflow: hidden;
  z-index: 15;">
{% else %}
<div style="position: fixed; top: 18%; right: 3%; overflow: hidden;
  z-index: 15;">
{% endif %}


    
    <div class="toast fade" role="alert" aria-live="assertive" aria-atomic="true" id="toast-notification">
      <div class="toast-header">
        <svg class="bd-placeholder-img rounded mr-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#007aff"></rect></svg>
        <strong class="mr-auto">Well done!</strong>
        <small>now</small>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
          <span id="close-notification" aria-hidden="true">×</span>
        </button>
      </div>
      <div class="toast-body" id="toast-body">
        
      </div>
    </div>


  </div>


<!-- Gallety Modal -->
<div id="pop_up">

  <span id="close_popup">close</span>
</div>







<!-- Modal terms of condition -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{% trans 'Terms of contidion' %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
        Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
        Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.
      </div>
      <div class="modal-footer">

        <form class="form-group" method="POST" data-url="{% url 'index' %}">
          {% csrf_token %}
          {% trans 'Your Bid' %}
          

          <input type="number" class="input_bid" name="bid" size="6" readonly>


          <select name="auction" required="" id="id_auction" hidden>
              <option  value="" selected=""></option>
          </select>

          <select name="buyer_id" required="" id="id_buyer_id" hidden>
              <option value="{{user.id}}" selected=""></option>
          </select>
          <button form="add_form_{{i.id}}" data-id="{{i.id}}"  type="button" id="bid_first_btn_{{i.id}}" class="pad-btn2 c-bg-dark c-btn" >{% trans 'Make a bid' %}</button>

      </form>











        
      </div>
    </div>
  </div>
</div>




















<div id="main_cards" >
{% for i in auctions_today %}





{% if user.is_authenticated %}

  {% if user.id == i.seller_id%}

    <span id="not_auth">sellerin</span>
  {% elif user.id != i.seller_id%}

    <span id="not_auth">someoneelse</span>
  {% endif %}

  <span id="not_auth">user_auth</span>
{% else %}
<span id="not_auth">not_auth</span>
{% endif %}









<div class="card mb-3 p-3 col-md-12 main_cards" >



  <div class="row col-md-13">

    <div class="row col-md-9">
    <div class="col-md-5" id="main_carousel_{{i.id}}">
  
      <div dir="ltr" id="owl-carousel_{{i.id}}" class="owl-carousel owl-theme">

        <div class="item" onclick="imgSliderEvent(event)" > <img id="img_{{i.id}}" src="{{ MEDIA_URL }}{{ i.main_img }}" class="card-img card_img_custom_current" alt="..."> </div>
      
      {% for img in additional_img %}
          {% if img.auction_id == i.id %}
              
              <div class="item" onclick="imgSliderEvent(event)"> <img class="card_img_custom_current" id="img_{{i.id}}" src="{{ MEDIA_URL }}{{img.img}}" alt="">  </div>
          {% endif %}
      {% endfor %}

        
      </div>
      
      <script>
          $('.owl-carousel').owlCarousel({
              dots: false,
              nav:true,
              items:1,
          })


      </script>

    </div>



    <div class=" col-md-7 mt-5">
      <div class="card-body card_body_custom">
        <small class="auction_id mb-15" >ID: 
          <span id="current_auction_id">{{i.id}}</span>
        </small>
        <h5 class="auction_title mb-40">{{i.title}} 
          

        </h5>
        <p class="auction_desc mb-40">{{i.description}}</p>
        <p class="card-text">
          <small class="auction_start_price_pre mr-3" >{% trans 'Start price' %}:<small class="auction_start_price"> <span class="">&#8362;</span> {{i.start_price}}  </small> 
          </small>

          <small hidden class="auction_start_price_pre mr-3" >{% trans 'Bid up' %}:<small class="auction_start_price"> {{i.bid_up}}  </small> 
          </small>

          <small class="auction_start_price_pre mr-3">{% trans 'Start was' %}: <span class="auction_start_price" id="start_time_id_{{i.id}}">{{i.start_auction_time}}:00</span></small>
        </p>



        {% if user.is_authenticated and user.id != i.seller_id %}

        
        <p class="card-text">
          <form id="add_form_{{i.id}}" class="form-group" method="POST" >
              
              
              <div class="btn-toolbar mb-3 inline "  role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group mr-2  pad-bid" role="group" aria-label="First group" id ="bids_thing_{{i.id}}">
                  <button type="button" class="btn btn_custom" id="bidminus" value="{{i.bid_up}}" >-</button>

              <input type="number" size=6 name="bid" id="id_bid_{{i.id}}" value="" class="input_bid" readonly>

                  <button type="button" class="btn btn_custom" id="bidplus" value="{{i.bid_up}}">+</button>
                </div>
              </div>


                <select name="auction" required="" id="id_auction" hidden>
                  <option value="{{i.id}}" selected=""></option>
              </select>

              <select name="buyer_id" required="" id="id_buyer_id" hidden>
                  <option value="{{user.id}}" selected=""></option>
              </select>







              <button form="add_form_btn_{{i.id}}" data-id="{{i.id}}" id="add_form_btn_{{i.id}}" type="button" class="pad-btn  c-bg-dark c-btn " onclick="btnBidEvent(event)"  data-toggle="modal" data-target="#exampleModal" >{% trans 'bid' %}</button>

          </form>

          


      </p>

        
        {% elif user.is_authenticated and user.id == i.seller_id  %}

        <p class="card-text">{% trans 'You cannot make a bids to your auctions' %}</p>















        {% else %}
        <p class="card-text">{% trans 'To bid, please' %} <a href="{% url 'login' %}">{% trans 'log in' %}</a>, {% trans 'or' %} <a href="{% url 'register_page'%}">{% trans 'register' %}</a></p>
        
        
        {% endif %}


        <p class="card-text bid_class" id="bid_list_{{i.id}}">
            {% for bid in  auction_bids %}
                {% if bid.auction_id == i.id %}
                <small>{% trans 'bid' %}: {{bid.bid}} | </small>
                {% endif %}
            {% endfor %}
        </p>















        <div class="price_block" >
          <!-- {{i.start_price}} -->

          {% for p in prices %}
          
            {% if p.auction_id == i.id and p.winner == 1%}
            
            <p >{% trans 'Current price' %}: <span class="current_price_num">&#8362;</span>  <span id="actual_price_val_{{i.id}}" class="current_price_num">{{p.new_price}}</span></p>
            

            <p id="current_buyer_div_{{i.id}">
              

            
                {% if user.is_authenticated and user.id != i.seller_id %}
      

                      {% if i.seller_id ==  p.buyer_id.id %}
                        
                          <span id="current_buyer_{{i.id}}">{% trans 'your bid will be first' %}</span>




                      {% else %}
                        

                          {% trans 'Leader ' %}:
                            <span id="current_buyer_{{i.id}}">{{p.buyer_id.id}}</span>

                      {% endif %}
                    
                  {% else %}

                  <span id="current_buyer_{{i.id}}">{% trans 'you need to wait until someone to bid' %}</span>



            {% endif %}

          </p>
          
            {% endif %}
            
          {% endfor %}



        </div>

<!-- 
        <span class="popover-dismiss d-inline-block" data-toggle="popover" data-content="Disabled popover">
          <button class="btn btn-primary" style="pointer-events: none;" type="button" disabled>Disabled button</button>
        </span> -->






      </div>
    </div>
  </div>

<div class="col col-md-3">

  <div class="all_time_div" >
    <h5 class="time_left">{% trans 'Time left' %}</h5>
    <div id="timer_{{i.id}}" class="timer_div">
      <!-- <span class="all_time_span">
        <smal id="timer_min_{{i.id}}"></smal>
      </span> -->
 




<div class="time_div_min " style="{% if LANGUAGE_BIDI %}
float: left; margin: 0 0px 0 0;
{% else %}
float: left;
{% endif %}">

    <svg class="progress_ring" width="120" height="120">
      <circle class="progress_ring_circle_min" stroke="#BF9D64" stroke-width="4" cx="60" cy="60"  r="52" fill="transparent"></circle> 
    </svg>
    <div class="all_time_desc">
      
      <smal id="timer_min_{{i.id}}">__</smal>
      <smal class="time_desc">{% trans 'minutes' %}</smal>
    </div>

</div>



<div class="time_div_sec" style="{% if LANGUAGE_BIDI %}
float: left;
{% else %}
float: left;
{% endif %}">

    <svg class="progress_ring" width="120" height="120">
      <circle class="progress_ring_circle_sec" stroke="#BF9D64" stroke-width="4" cx="60" cy="60"  r="52" fill="transparent"></circle> 
    </svg>
    <div class="all_time_desc">
      
      <smal id="timer_sec_{{i.id}}">__</smal>
      <smal class="time_desc">{% trans 'seconds' %}</smal>
    </div>

</div>


        
        <!-- <div class="all_time_desc1">
          <smal class="time_desc">minutes</smal>
          <smal class="time_desc">seconds</smal>
        </div> -->
    </div>
  </div>
</div>

  




</div>









</div>




{% endfor %}

</div>
<h3  class="headers">{% trans 'Next 23 auctions' %}</h3>












<div class="row row-cols-1 row-cols-md-3">


{% for schedule in auctions_tommorow_list %}

  
  <div class="col card_one">




    <div class="card h-100">


      <div class="img_div relative">
      <div class="img_block">

        <div class="time_start_div" 
        style="{% if LANGUAGE_BIDI %}
        left: 3%
        {% else %}
        right: 3%
        {% endif %}
         " >

        <span class="time_start_span">
          <small class="time_start_text">{{schedule.auction.start_auction}}</small>
          <small class="time_start_text"> {{schedule.active_date_time}}:00</small>
        </span>



      </div>



    <button type="button" class="get_notif" 
    style="{% if LANGUAGE_BIDI %}
    left: 3%
    {% else %}
    right: 3%
    {% endif %}
     " id="call_notif_{{schedule.auction.id}}" data-toggle="modal" data-target="#get_notification" onclick="getNotification(event, {{schedule.auction.id}})" 
    {% for notif in notif_list %}
    
        {% if notif.auction_id == schedule.auction.id and notif.subscriber_id == user.id%}
        disabled
        {% endif %}
    {% endfor %}>

      <img class="noti-icon" src="{{ MEDIA_URL }}/file/notification.png" title="get notification about this lot" alt="">
    </button>
      <img src="{{ MEDIA_URL }}{{ schedule.auction.main_img }}" class="card-img card_img_custom" alt="...">
      </div>
    </div>
      <div class="card-body">
        <h5 class="card-title">{{schedule.auction.title}}</h5>

        <small class="auction_start_price_pre mr-3" >{% trans 'Start price' %}:<small class="auction_start_price"> <span class="">&#8362;</span> {{schedule.auction.start_price}} </small> 
      </small> 








      </div>
    </div>
  </div>

{% endfor %}


</div>
















<!-- 




{% for schedule in auctions_tommorow_list %}


<div class="card mb-3 col-md-10">
 <div class="row no-gutters">
   <div class="col-md-4">
     <img src="{{ MEDIA_URL }}{{ schedule.auction.main_img }}" class="card-img" alt="...">
   </div>
   <div class="col-md-8 relative ">

    <button type="button" class="get_notif" 
    style="{% if LANGUAGE_BIDI %}
    left: 3%
    {% else %}
    right: 3%
    {% endif %}
     " id="call_notif_{{schedule.auction.id}}" data-toggle="modal" data-target="#get_notification" onclick="getNotification(event, {{schedule.auction.id}})" 
    {% for notif in notif_list %}
    
        {% if notif.auction_id == schedule.auction.id and notif.subscriber_id == user.id%}
        disabled
        {% endif %}
    {% endfor %}
>
      <img class="noti-icon" src="{{ MEDIA_URL }}/file/notification.png" title="get notification about this lot" alt="">
    </button>


     <div class="card-body">
       <h5 class="card-title">Next Auctions: {{schedule.auction.start_auction}}</h5>
       <small class="text-muted mr-3">Hour: {{schedule.active_date_time}}</small>
       <h5 class="card-title">{{schedule.auction.title}} <small class="text-muted mr-3">Status: {{schedule.auction.status}}</small><small class="text-muted mr-3">ID: {{schedule.auction.id}}</small></h5>
       <p class="card-text">{{schedule.auction.description}}</p>
        <p class="card-text"><small class="text-muted mr-3">Start auction: {{schedule.auction.start_auction}}</small>
         <small class="text-muted mr-3">Start price: {{schedule.auction.start_price}}</small>
          <small class="text-muted mr-3">Bid up: {{schedule.auction.bid_up}}</small>
        </p>

     </div>
   </div>
</div>
</div>



{% endfor %} -->


<h3 class="headers">{% trans 'Past auctions' %}</h3>


<div dir="ltr" id="owl-carousel_past_auctions" class="owl-carousel owl-theme">

{% for yesterday in auctions_yesterday %}

  <div class="item" >





    <div class="col card_one_past">




      <div class="card h-100">
  
  
        <div class="img_div2">
  
  
  
          <img src="{{ MEDIA_URL }}{{ yesterday.main_img }}" class="card-img card_img_custom_past" alt="...">
  
  
      </div>
      <div class="card-body">
        <h5 class="card-title">{{yesterday.title}}</h5>
  
  
  
      </div>
      </div>
    </div>






  </div>




































{% endfor %}

</div>

<script>
  $('.owl-carousel').owlCarousel({
      dots: false,
      dots:true,
      responsive:{
        0:{
            items:2
        },
        768:{
            items:3
        },
        1200:{
            items:5
        }
    }
  })


</script>



{% endblock %}