
{% extends 'base.html' %}
{% load i18n %}



{% block title %}
    index
{% endblock %}




{% block content_title %}
{% trans "Current Auctions" %}

{% endblock %}




{% block content %}




  <!-- Position it -->
  <div style="position: fixed; top: 18%; right: 3%; overflow: hidden;
  z-index: 15;">
    
    <!-- Then put toasts within -->
    <div class="toast fade" role="alert" aria-live="assertive" aria-atomic="true" id="toast-notification">
      <div class="toast-header">
        <svg class="bd-placeholder-img rounded mr-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#007aff"></rect></svg>
        <strong class="mr-auto">Notification</strong>
        <small>now</small>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
          <span id="close-notification" aria-hidden="true">×</span>
        </button>
      </div>
      <div class="toast-body">
        Congratulations! Your bid is accepted!
      </div>
    </div>


  </div>



<div id="pop_up">

  <span id="close_popup">close</span>
</div>

<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
<br>
Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
<br>
Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.
      </div>
      <div class="modal-footer">








        <form class="form-group" method="POST" data-url="{% url 'index' %}">
          {% csrf_token %}
          {{form.bid.label}}
          

          <input type="number" name="bid" >


          <select name="auction" required="" id="id_auction" hidden>
              <option  value="" selected=""></option>
          </select>

          <select name="buyer_id" required="" id="id_buyer_id" hidden>
              <option value="{{user.id}}" selected=""></option>
          </select>
          <button form="add_form_{{i.id}}" data-id="{{i.id}}"  type="button" id="bid_first_btn_{{i.id}}" class="btn btn-primary btn_confirm" >bid</button>

      </form>











        
      </div>
    </div>
  </div>
</div>





<div id="main_cards" >
{% for i in auctions_today %}





{% if user.is_authenticated %}

  {% if user.id == i.seller_id%}

  <span id="not_auth">sellerin</span>
  {% elif user.id != i.seller_id%}

  <span id="not_auth">someoneelse</span>
  {% endif %}

{% else %}
<span id="not_auth">not_auth</span>
{% endif %}









<div class="card mb-3 p-3 col-md-10 main_cards" >
  <div class="row no-gutters">
    <div class="col-md-4" id="main_carousel_{{i.id}}">
  
      <div id="owl-carousel_{{i.id}}" class="owl-carousel owl-theme">

        <div class="item" onclick="imgSliderEvent(event)" > <img id="img_{{i.id}}" src="{{ MEDIA_URL }}{{ i.main_img }}" class="card-img" alt="..."> </div>
      
      {% for img in additional_img %}
          {% if img.auction_id == i.id %}
              
              <div class="item" onclick="imgSliderEvent(event)"> <img class="slider_img" id="img_{{i.id}}" src="{{ MEDIA_URL }}{{img.img}}" alt="">  </div>
          {% endif %}
      {% endfor %}

        
      </div>
      
      <script>
          $('.owl-carousel').owlCarousel({
              dots: false,
              nav:true,
              items:1,
          })


      </script>

    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{i.title}} <small class="text-muted mr-3">Status: {{i.status}}</small><small class="text-muted mr-3" >ID: <span id="current_auction_id">{{i.id}}</span></small></h5>
        <p class="card-text">{{i.description}}</p>
        <p class="card-text"><small class="text-muted mr-3">Start auction: {{i.start_auction}}</small>
          <small class="text-muted mr-3">Start price: {{i.start_price}}</small>
          <small class="text-muted mr-3">Hour: <span id="start_time_id_{{i.id}}">{{i.start_auction_time}}:00</span></small>
          <small class="text-muted mr-3">Bid up: {{i.bid_up}}</small>
        </p>



        {% if user.is_authenticated and user.id != i.seller_id %}

        
        <p class="card-text">
          <form id="add_form_{{i.id}}" class="form-group" method="POST" >
              
              {{form.bid.label}}
              
              <div class="btn-toolbar mb-3 inline" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group mr-2" role="group" aria-label="First group" id ="bids_thing_{{i.id}}">
                  <button type="button" class="btn btn-secondary" id="bidminus" value="{{i.bid_up}}" >-</button>

              <input type="number" size=7 name="bid" id="id_bid_{{i.id}}" value="">

                  <button type="button" class="btn btn-secondary" id="bidplus" value="{{i.bid_up}}">+</button>
                </div>
              </div>


                <select name="auction" required="" id="id_auction" hidden>
                  <option value="{{i.id}}" selected=""></option>
              </select>

              <select name="buyer_id" required="" id="id_buyer_id" hidden>
                  <option value="{{user.id}}" selected=""></option>
              </select>







              <button form="add_form_btn_{{i.id}}" data-id="{{i.id}}" id="add_form_btn_{{i.id}}" type="button" class="btn btn-primary" onclick="btnBidEvent(event)"  data-toggle="modal" data-target="#exampleModal" >bid</button>

          </form>


      </p>

        
        {% elif user.is_authenticated and user.id == i.seller_id  %}

        <p class="card-text">You cannot make a bids to your auctions</p>















        {% else %}
        <p class="card-text">To bid, please <a href="{% url 'login' %}">log in</a>, or <a href="{% url 'register_page'%}">register</a></p>
        
        
        {% endif %}


        <p class="card-text bid_class" id="bid_list_{{i.id}}">
            {% for bid in  auction_bids %}
                {% if bid.auction_id == i.id %}
                <small>bid: {{bid.bid}} | </small>
                {% endif %}
            {% endfor %}
        </p>

        <h5 class="card-title" >
          <!-- {{i.start_price}} -->

          {% for p in prices %}
            {% if p.auction_id == i.id and p.winner == 1%}
            
            <p >actual price: <span id="actual_price_val_{{i.id}}">{{p.new_price}}</span></p>
            

            <p id="current_buyer_div_{{i.id}">
              current buyer: 

            
            {% if user.is_authenticated and user.id != i.seller_id %}
  

              {% if i.seller_id ==  p.buyer_id.id %}
                
                <span id="current_buyer_{{i.id}}">your bid will be first</span>




              {% else %}
                


                <span id="current_buyer_{{i.id}}">{{p.buyer_id.id}}</span>

              {% endif %}
            
              {% else %}

                <span id="current_buyer_{{i.id}}">you need to wait until someone to bid</span>



            {% endif %}

          </p>

            {% endif %}
          {% endfor %}



        </h5>

<!-- 
        <span class="popover-dismiss d-inline-block" data-toggle="popover" data-content="Disabled popover">
          <button class="btn btn-primary" style="pointer-events: none;" type="button" disabled>Disabled button</button>
        </span> -->


          <div id="timer_{{i.id}}">
            <span id="timer_min_{{i.id}}"></span>
            <span id="timer_sec_{{i.id}}"></span>
          </div>





      </div>
    </div>
  </div>
</div>




{% endfor %}

</div>
<h3>Next 23 auctions</h3>
{% for schedule in auctions_tommorow_list %}


<div class="card mb-3 col-md-10">
 <div class="row no-gutters">
   <div class="col-md-4">
     <img src="{{ MEDIA_URL }}{{ schedule.auction.main_img }}" class="card-img" alt="...">
   </div>
   <div class="col-md-8 relative ">
     <div class="get_notif">
      <img class="noti-icon" src="{{ MEDIA_URL }}/file/notification.png" title="get notification about this lot" alt="">
     </div>
     <div class="card-body">
       <h5 class="card-title">Next Auctions: {{schedule.auction.start_auction}}</h5>
       <small class="text-muted mr-3">Hour: {{schedule.active_date_time}}</small>
       <h5 class="card-title">{{schedule.auction.title}} <small class="text-muted mr-3">Status: {{schedule.auction.status}}</small><small class="text-muted mr-3">ID: {{schedule.auction.id}}</small></h5>
       <p class="card-text">{{schedule.auction.description}}</p>
        <p class="card-text"><small class="text-muted mr-3">Start auction: {{schedule.auction.start_auction}}</small>
         <small class="text-muted mr-3">Start price: {{schedule.auction.start_price}}</small>
          <small class="text-muted mr-3">Bid up: {{schedule.auction.bid_up}}</small>
        </p>

     </div>
   </div>
</div>
</div>



{% endfor %}






{% endblock %}